<div class="main user-show">
  <div class="container-fluid">
    <div class="user text-center">
      <p><%= image_tag("/user_images/#{@user.image}", :size => "40x40", :class => "img-circle") %></p>
      <p><%= @user.name %></p>
      <p><%= @user.email %></p>
      <p><%= @user.user_status %></p>
      <p><%= @user.verify_token %></p>
    </div>
  </div>
</div>
