<div class="main users-show">
  <div class="container-fluid">
    <div class="text-center"><h3>ユーザー情報</h3>

      <p><%= image_tag("#{@user.image}", :size => "40x40", :class => "img-circle") %></p>
      <p><%= @user.image %></p>
      <p><%= @user.name %></p>
      <p><%= @user.email %></p>
      <p><%= @user.user_status %></p>
      <p><%= @user.verify_token %></p>
      <br>
      <%= link_to("変更", edit_user_path(@user), class: "btn btn-large btn-primary") %>

    </div>
  </div>
</div>
